{% extends 'base.html' %}
    {% block title %}Reset Password{% endblock %}
    {% block subject %}Reset Password{% endblock %}
{% block content %}
<body>
    {% if user is not None %}
    <p>Your Security Question: {{ user.security_question }}</p>
    <form action="/u/find_pwd/" method="post">
        {% csrf_token %}
        <div>
            {{ fp_form.sec_a }}
        </div>
        <input type="hidden" name="username" value="{{ user.username }}">
        <button type="submit">Submit</button>
    </form>
    {% else %}
    <h1>Invalid Request!</h1>
    <a href="/">Return</a>
    {% endif %}
</body>
{% endblock %}