<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <form action="/signin/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ login_form.uid }}
        </div>
        <div class="form-group">
            {{ login_form.pwd }}
        </div>
        <button type="submit">Sign In</button>
        <br>
        <a href="/signup/">Sign Up</a>
        <br>
        <a href="/verify_user/">Reset Password</a>
    </form>
</body>
</html>