{% extends 'base.html' %}
{% block title %}Info{% endblock %}
{% block content %}
<body>
    <h1>{{ msg }}</h1>
    {% if not_activate %}
    <h3>Click Activate to send an activation email to your mail.</h3>
    <h5>You could only sign in your account until you activated it.</h5>
    <p>NOTE: </p>
    <p>* The Activation Email will be expired in 30 minutes after being sent.</p>
    <p>* The activation process may take a few seconds, please wait patiently.</p>
    <a href="/send_activation_mail/{{ uid }}/">Activate</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <!--<img src="{{ user.avatar_url }}">-->
    <hr>
    <a href="/signout/">Sign Out</a>
    <br>
    <a href="/self_profile/">Profile</a>
    <br>
    <a href="/mod_pwd/">Modify Password</a>
    <hr>
    <a href="/n/create_bulletin/">Create Bulletin</a>
    <br>
    <a href="/n/browse_bulletins/">Browse Bulletin</a>
    <br>
    <a href="/n/search_bulletin/">Search Bulletin</a>
    <br>
    <a href="/n/my_bulletin/">My Bulletin</a>
    {% endif %}
    <br><br>
</body>
{% endblock %}